<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :inicio, style: "display: block" %>
    <%= form.datetime_field :inicio %>
  </div>

  <div>
    <%= form.label :fim, style: "display: block" %>
    <%= form.datetime_field :fim %>
  </div>

  <div>
    <%= form.label :horas, style: "display: block" %>
    <%= form.text_field :horas %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
