<div id="<%= dom_id turma %>">
  <p>
    <strong>Nome:</strong>
    <%= turma.nome %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= turma.inicio %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= turma.fim %>
  </p>

  <p>
    <strong>Horas:</strong>
    <%= turma.horas %>
  </p>

</div>
