<%= form_with(model: series) do |form| %>
  <% if series.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
        <% series.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :episodios, style: "display: block" %>
    <%= form.number_field :episodios %>
  </div>

  <div>
    <%= form.label :nota, style: "display: block" %>
    <%= form.text_field :nota %>
  </div>

  <div>
    <%= form.label :atual, style: "display: block" %>
    <%= form.check_box :atual %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
