<div id="<%= dom_id serie %>">
  <p>
    <strong>Nome:</strong>
    <%= serie.nome %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= serie.episodios %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= serie.nota %>
  </p>

  <p>
    <strong>Atual:</strong>
    <%= serie.atual %>
  </p>

</div>
